<div class="user_show">

  <div class="user">
  <%= image_tag('http://betakit.com/wp-content/uploads/2015/03/product-hunt-kitten.png', height: '100px', class: "ph_cat") %>
    <%= image_tag(@user.ph_image_url, height:'50px', class: 'user_pic') %>
    <h3>Welcome, <%=@user.name %></h3>
    <br>
  </div>
  <div class= "logout_div">
      <%= link_to 'Log Out', logout_path, method: :delete, class: 'logout' %>
  </div>
  <div class="products">
    <h1>My Favorite Products</h1>
      <% @user.products.each do |product| %>
        <div class="product col-sm-12 col-md-6 col-lg-4">
          <!-- #work on path here -->
          <h2><%=link_to product.ph_post_name, product_path(product.id, user_id: params[:id]) %></h2>
          <p><%= image_tag(product.ph_post_screenshot_url, height: '300px', class:'img-responsive') %></p>
          <div class="mention">
            <h4>-Latest News-</h4>
            <% product.mentions.each do |mention| %>
              <h5><%= link_to mention.mention_title, mention.url %>- <%= mention.mention_description %></h5>

            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
