<p><%= link_to "Back", user_path(params[:user_id]) %></p>


<h1><%= @product.ph_post_name %></h1>

<% if @organization != nil%>
  <% if @organization.short_description != nil%>
    <p><%= @organization.short_description %></p>
  <% end %>
  <% if @organization.homepage_url != nil%>
    <p><%= @organization.homepage_url %></p>
  <% end %>
  <% if @organization.websites != nil%>
    <% @organization.websites.each do |website| %>
  	 <p><%= website.url %> </p>
     <% end %>
  <% end %>
  <% if @organization.news %>
    <% @organization.news.each |news_article| %>
      <%= news_article.title %>
    <% end %>
  <% end %>



<% end %>
