<p><%= link_to "Back", user_path(params[:user_id]) %></p>


<h1><%= @product.ph_post_name %></h1>



<ul>
  <%@entry.each do |t|%>
  <li class= "product_mentions2">
    <%= link_to "#{t.title}", "#{t.url}",:target => "_blank", :class => "product_mentions2" %>

    <p><%= simple_format(t.summary, class: "summary") %></p>
    <p><%= t.published %></p>
  </li>
  <%end%>
</ul>
